:root{
  --main-color:#BEBAD9;
  --white-base: #fff;
  --black-bacgkround:#000;
  --secondary-color:#767FB0;
  --accent-color:#A1C084;
  --header-size: 100px;
  --title-size:50px;
  --undertitle-size:25px;
  --content-size:16px;
}

